#app {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;
}

main {
    overflow-y: auto;
    padding: 1em;
}

body {
    margin: 0;
}

header {
    background-color: aliceblue;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
}

header > * {
    padding-inline: 0.5em;
}

header .menu-divider {
    flex: 1;
}
