body {
    margin: 0;
}

.application {
    background-color: pink;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: aliceblue;
}

footer {
    background-color: aliceblue;
}

footer form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

footer input {
    flex: 1;
}

